<html>
 <head>
  <title>Login form</title>
  <script src=''></script>
  <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css"/>

</head>
<body style="background-color: gray">
<div class="form">
<form  action='/login' method="post" align="center">
<fieldset>
<legend align="center">Please Login</legend>
    <label for="email">Email:</label>
   <input type="text" name="email" size="40" placeholder="type your email" id="email">
   <br />
   <br />
    <label for="password">Name:</label>
   <input type="password" name="password" size="40" placeholder="type your password" id="password">
   <br />
   <br />
   <input type="button" value="Submit" id="submit"><br/><br/>
</fieldset>
 </form>
</div>
</body>
</html>